* {
    box-sizing: border-box;
    margin : 0;
    padding: 0;
}

main {
    margin: 1rem;
}

.btn {
    margin-bottom: 1rem;
    width : 10rem;
    // height: 3rem;

    // 最初は表示しないようにする
    opacity: 0;
    height : 0;
    transition: all .5s ease;
    pointer-events: none; // 表示していなくてもボタン判定は残ってしまうので、この１行で無効化
}

.row-title {
    display: inline-block; // 表示非表示の選択範囲を狭めるため(タイトル部分のみ有効にしたかったため)
    user-select: none;     // 連打したときにチカチカならないように
    cursor: pointer;
    margin-bottom: 0.5rem;
    transition: all .5s ease;

    &:hover {
        color: gray;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;

    .col {
        margin-right: 1rem;

        // 最初は表示しないようにする
        opacity: 0;
        height : 0;
        transition: all .5s ease;
    }
}